<footer class="l-footer c-footer">
  <small>© 2016 - {{ 'now' | date: "%Y" }}. <a href="{{ "/about/" | prepend: site.baseurl }}">Words, design and code</a>, Chen Hui Jing.</small>
  <a href="#contact"><img src="/assets/img/contact.svg" alt="Contact us" class="c-contact__icon"></a>
</footer>
<script src="/js/scripts.js"></script>
