// Contact pop-up
.l-contact {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-contact {
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;

  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.l-contact__close {
  position: absolute;
  z-index: 3;
  right: 0.5em;
  top: 0.25em;
}

.l-contact__form {
  position: relative;
  padding: 1em;

  @include mappy-bp(max small) {
    width: calc(100vw - 2em);
  }

  @include mappy-bp(small) {
    width: 50vw;
  }

  label {
    display: block;
    margin-bottom: 0.25em;
  }

  input:not([type="submit"]),
  textarea {
    margin-bottom: 0.5em;
  }

  textarea {
    width: 100%;
  }

  p {
    margin-bottom: 1em;
  }
}

.c-contact__form {
  background: color(bg);
}
