// ========
// Settings
// ========
// Breakpoints
@import 'lib/mappy-bp';
$breakpoints: ( 
  small: 540px,
  medium: 720px,
  large: 1280px
);

// Responsive typography
$min-width: 320;
$max-width: 1280;
$min-font: 20;
$max-font: 28;

:root {
  font-size: #{$min-font}px;
}

@media (min-width: #{$min-width}px) and (max-width: #{$max-width}px) {
  :root {
    font-size: calc( #{$min-font}px + (#{$max-font} - #{$min-font}) * ( (100vw - #{$min-width}px) / ( #{$max-width} - #{$min-width})));
  }
}

@media (min-width: #{$max-width}px) {
  :root {
    font-size: #{$max-font}px;
  }
}

// Fonts
@charset 'utf-8';

@font-face {
  font-family: 'Bungee Regular';
  src: url('../assets/fonts/bungee-regular.eot');
  src: url('../assets/fonts/bungee-regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/bungee-regular.woff2') format('woff2'), url('../assets/fonts/bungee-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bungee Outline';
  src: url('../assets/fonts/bungee-outline.eot');
  src: url('../assets/fonts/bungee-outline.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/bungee-outline.woff2') format('woff2'), url('../assets/fonts/bungee-outline.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTZhiHeiJ';
  src: url('../assets/fonts/TTZhiHeiJ-W5.eot');
  src: url('../assets/fonts/TTZhiHeiJ-W5.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/TTZhiHeiJ-W5.woff2') format('woff2'), url('../assets/fonts/TTZhiHeiJ-W5.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gentium Basic';
  src: url('../assets/fonts/genbasr.eot');
  src: url('../assets/fonts/genbasr.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/genbasr.woff2') format('woff2'), url('../assets/fonts/genbasr.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gentium Basic';
  src: url('../assets/fonts/genbasb.eot');
  src: url('../assets/fonts/genbasb.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/genbasb.woff2') format('woff2'), url('../assets/fonts/genbasb.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gentium Basic';
  src: url('../assets/fonts/genbasi.eot');
  src: url('../assets/fonts/genbasi.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/genbasi.woff2') format('woff2'), url('../assets/fonts/genbasi.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

$title-font: 'Bungee Regular', 'Arial Black', 'Arial Bold', 'TTZhiHeiJ', 'Hei', 'Microsoft YaHei', sans-serif;
$fancy-font: 'Bungee Outline', 'Arial Black', 'Arial Bold', 'TTZhiHeiJ', 'Hei', 'Microsoft YaHei', sans-serif;
$body-font: 'Gentium Basic', 'PingFang TC', 'Microsoft JhengHei', '微軟正黑體', 'Heiti TC', '黑體-繁', sans-serif;

// Colours
$colors: (
  main: #f04c16,
  secondary: #4cb09c,
  accent: #edbd1f,
  txt-dark: #313b4a,
  bg: #dbdbd0,
  txt-light: #fff,
  shadow: rgba(0, 0, 0, 0.3)
);

$covers: (
  #f04c16,
  #4cb09c,
  #edbd1f,
  #313b4a,
  #fff,
);
