// CSS architecture for Talk.CSS website
// Developed by Chen Hui Jing <kakyou_tensai@yahoo.com>
// -----
// Structure based on ITCSS by Harry Roberts
// http://csswizardry.net/talks/2014/11/itcss-dafed.pdf
// Rationale for class name-spacing can be found at
// http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/

// ==========
// SETTINGS - Global variables, config switches
// ==========
@import 'settings';
// ==========
// TOOLS - Default mixins and functions
// ==========
@import 'tools';
// ==========
// GENERIC - Ground-zero styles (Normalize.css, resets, box-sizing)
// ==========
@import 'generic';
// ==========
// BASE - Unclassed HTML elements (type selectors)
// ==========
@import 'base';
// ==========
// OBJECTS - Cosmetic-free design patterns
// ==========
@import 'objects';
// ==========
// LAYOUT - Styles related to layout and positioning
// ==========
// Header section
.l-header {
  padding: 2em 0;
}

[class*="l-title"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.25em;
}

.l-title__zh {
  writing-mode: vertical-rl;
}

// Intro section
.l-toggle__en:checked ~ .l-lang__en,
.l-toggle__zh:checked ~ .l-lang__zh {
  display: block;
}

.ms-wrapper {
  width: 100%;
}

@supports (background-image: linear-gradient(to bottom, #f4f1ee, #fff)) {
  .l-lang__en,
  .l-lang__zh {
    display: none;
  }
}

.l-lang__en,
.l-lang__zh {
  padding-top: 0.5em;
  max-width: 35em;
  margin: 0 auto;
}

.l-lang__en {
  h2 {
    margin-bottom: 0.5em;
  }
}

.l-lang__zh {
  text-align: justify;
  writing-mode: vertical-rl;
  max-height: 13em;
  overflow-x: auto;
  margin-left: 50%;
  transform: translateX(-50%);

  @include mappy-bp(max small) {
    max-width: calc(100% - 1em);
  }

  @include mappy-bp(max medium) {
    max-height: 50vh;
  }

  h2 {
    margin-left: 0.5em;
    letter-spacing: 2px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-lang__zh {
    writing-mode: horizontal-tb;
    max-height: none;
    overflow: initial;
    margin-top: 1em;

    @include mappy-bp(max small) {
      width: 100%;
    }

    .ms-wrapper {
      writing-mode: vertical-rl;
      max-height: 13em;
      overflow-x: auto;
    }
  }
}

@supports (-ms-ime-align:auto) {
  .l-lang__zh {
    writing-mode: horizontal-tb;
    max-height: none;
    overflow: initial;

    @include mappy-bp(max small) {
      width: 100%;
    }

    .ms-wrapper {
      writing-mode: vertical-rl;
      max-height: 13em;
      overflow-x: auto;
    }
  }
}

@supports not (writing-mode: vertical-rl) {
  .l-lang__zh {
    margin-left: initial;
  }
}

// Story section
.l-stories {
  writing-mode: vertical-lr;
  width: 100%;
  max-width: 35em;
  margin: 0 auto;
  position: relative;
  height: 55vh;
  max-height: 13em;
}

.l-stories-title {
  width: 3em;
}

@supports (background-image: linear-gradient(to bottom, #f4f1ee, #fff)) {
  width: auto;
}

.l-stories-title__en {
  margin-right: 0.5em;
  display: inline-block;
  transform: rotate(180deg);
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-stories {
    writing-mode: horizontal-tb;

    .ms-wrapper {
      writing-mode: vertical-lr;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .l-stories-title__en {
    transform: none;
  }
}

@supports (-ms-ime-align:auto) {
  .l-stories {
    writing-mode: horizontal-tb;

    .ms-wrapper {
      writing-mode: vertical-lr;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .l-stories-title__en {
    transform: none;
  }
}

.l-shelf {
  width: calc(100% - 6em);
  position: relative;
  padding-left: 1em;

  &:after {
    display: block;
    content: '';
    position: absolute;
    height: 1em;
    width: 100%;
    left: 0;
    bottom: 0;
  }
}

.l-story {
  display: block;
  height: calc(100% - 1em);

  &:nth-child(2),
  &:nth-child(5n+2) {
    transform: rotate(2deg) translateX(0.25em);
  }

  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5n+3),
  &:nth-child(5n+4) {
    transform: rotate(-2deg) translateX(0.625em);
  }

  &:nth-child(5),
  &:nth-child(5n+5) {
    transform: rotate(4deg) translateX(1.25em);
    margin-right: 1.65em;
  }
}

@supports not (writing-mode: vertical-rl) {
  .l-shelf::after {
    display: none;
  }
}

.l-more-stories {
  writing-mode: horizontal-tb;
  margin-left: 1em;
  padding: 0.125em 0.5em;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

// Resources section
.l-resources {
  max-width: 35em;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;

  @include mappy-bp(max small) {
    max-width: calc(100% - 1em);
  }

  h2 {
    writing-mode: vertical-rl;
    width: 1.3em;
  }
}

.l-links {
  writing-mode: horizontal-tb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  flex: 1 1 33.7em;
}

.l-link {
  flex: 0 0 calc(50% - 1.5em);
  padding: 1.5em 0.5em 3em;
  margin: 0 0.25em 0.5em;
  transform: rotate(-2deg);
  position: relative;

  &:nth-child(even) {
    transform: rotate(2deg);
  }

  &:nth-child(3n) {
    transform: translateY(-0.5em);
  }

  &:nth-child(5n) {
    transform: rotate(4deg) translateX(-0.5em);
  }

  @include mappy-bp(small medium) {
    flex: 0 0 calc((100% / 3) - 1.5em);
  }

  @include mappy-bp(medium) {
    flex: 0 0 calc(25% - 1.5em);
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-link {
    flex: 0 0 20%;
  }
}

.l-link__tag {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}

// ==========
// COMPONENTS - Designed components, chunks of UI
// ==========
@import 'component-langswitch';
@import 'component-newsletter';
@import 'component-contact';
@import 'component-footer';
// Header section
.c-header {
  background-image: url('../assets/img/header.jpg');
  background-size: cover;
  background-position: center;
}

.c-title {
  text-align: center;
  color: color(txt-light);
}

.c-title__en,
.c-title__zh {
  font-family: $title-font;
  font-weight: 400;
}

.c-title__en {
  font-size: calc(1.5em + 3vw);
  text-align: right;
}

.c-title__zh {
  font-size: calc(1em + 2vw);
}

.c-content {
  text-align: center;
  background-color: color(bg);
  color: color(txt-dark);
}

// Story section
.c-shelf::after {
  background-color: saddlebrown;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent 10%, rgba(0, 0, 0, 0.2) 90%);
  border-radius: 1em;
  box-shadow: 0 0.375em 0.375em 0 color(shadow);
}

@for $i from 1 through length($covers) {
  .c-story:nth-child(#{length($covers)}n + #{$i}) {
    background-color: nth($covers, $i);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent 10%, rgba(0, 0, 0, 0.2) 90%);

    a {
      color: text-color(nth($covers, $i));
    }
  }
}

// Resources section
.c-link {
  background-color: color(txt-dark);
  color: color(main);
  box-shadow: 0 3px 5px 0 color(shadow), inset 0 0 0 0.25em color(txt-light), inset 0 -1em 0 0.25em color(txt-light);

  p {
    line-height: 1.2;
  }
}

// ==========
// TRUMPS - Helpers and overrides
// ==========
@import 'trumps';
// ==========
// SHAME - For ad-hoc debugging or testing. Should be empty by default.
// ==========
@import 'shame';
