// CSS architecture for Talk.CSS website
// Developed by Chen Hui Jing <kakyou_tensai@yahoo.com>
// -----
// Structure based on ITCSS by Harry Roberts
// http://csswizardry.net/talks/2014/11/itcss-dafed.pdf
// Rationale for class name-spacing can be found at
// http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/

// ==========
// SETTINGS - Global variables, config switches
// ==========
@import 'settings';
// ==========
// TOOLS - Default mixins and functions
// ==========
@import 'tools';
// ==========
// GENERIC - Ground-zero styles (Normalize.css, resets, box-sizing)
// ==========
@import 'generic';
// ==========
// BASE - Unclassed HTML elements (type selectors)
// ==========
@import 'base';

a {
  color: color(main);
}
// ==========
// OBJECTS - Cosmetic-free design patterns
// ==========
@import 'objects';
// ==========
// LAYOUT - Styles related to layout and positioning
// ==========
// Header section
.l-header {
  padding: 2em 0;
}

[class*="l-title"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.25em;
}

.l-home-link {
  position: fixed;
  top: 0.5em;

  img {
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: middle;
  }
}
// ==========
// COMPONENTS - Designed components, chunks of UI
// ==========
@import 'component-contact';
@import 'component-footer';
// Header section
.c-header {
  background-image: url('../assets/img/pages.jpg');
  background-size: cover;
  background-position: 50% 30%;
}

.c-title {
  text-align: center;
  color: color(txt-light);
}

.c-title__en {
  font-size: calc(1em + 2vw);
  text-align: right;
}

.c-title__zh {
  font-size: calc(1em + 1vw);
}

.c-page {
  background: linear-gradient(135deg, transparent 22px, rgba(color(accent), 0.3) 22px, rgba(color(accent), 0.3) 24px, transparent 24px, transparent 67px, rgba(color(accent), 0.3) 67px, rgba(color(accent), 0.3) 69px, transparent 69px), linear-gradient(225deg, transparent 22px, rgba(color(accent), 0.3) 22px, rgba(color(accent), 0.3) 24px, transparent 24px, transparent 67px, rgba(color(accent), 0.3) 67px, rgba(color(accent), 0.3) 69px, transparent 69px)0 64px;
  background-color: rgba(color(accent), 0.2);
  background-size: 64px 128px;
  min-height: calc(100vh - 1.5em);
}
// ==========
// TRUMPS - Helpers and overrides
// ==========
@import 'trumps';
// ==========
// SHAME - For ad-hoc debugging or testing. Should be empty by default.
// ==========
@import 'shame';
