// CSS architecture for Talk.CSS website
// Developed by Chen Hui Jing <kakyou_tensai@yahoo.com>
// -----
// Structure based on ITCSS by Harry Roberts
// http://csswizardry.net/talks/2014/11/itcss-dafed.pdf
// Rationale for class name-spacing can be found at
// http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/

// ==========
// SETTINGS - Global variables, config switches
// ==========
@import 'settings';
// ==========
// TOOLS - Default mixins and functions
// ==========
@import 'tools';
// ==========
// GENERIC - Ground-zero styles (Normalize.css, resets, box-sizing)
// ==========
@import 'generic';
// ==========
// BASE - Unclassed HTML elements (type selectors)
// ==========
@import 'base';

a {
  color: color(main);
}
// ==========
// OBJECTS - Cosmetic-free design patterns
// ==========
@import 'objects';
// ==========
// LAYOUT - Styles related to layout and positioning
// ==========
.l-post {
  text-align: center;

  @include mappy-bp(h 700px) {
    min-height: calc(100vh - 1.5em);
  }
}

.l-toggle__en:checked ~ .l-lang__en,
.l-toggle__zh:checked ~ .l-lang__zh {
  display: block;
}

@supports (background-image: linear-gradient(to bottom, #f4f1ee, #fff)) {
  .l-lang__en,
  .l-lang__zh {
    display: none;
  }
}

.l-lang__en,
.l-lang__zh {
  padding-top: 0.5em;
  max-height: 65vh;
  overflow-x: auto;
}

.l-lang__en {
  text-align: left;
  max-width: 35em;
  margin: 0 auto;
  padding: 0 0.5em;

  p {
    margin-bottom: 0.5em;
  }
}

.l-lang__zh {
  text-align: justify;
  writing-mode: vertical-rl;
  max-width: calc(100% - 1em);
  margin-left: 50%;
  transform: translateX(-50%);

  @include mappy-bp(max small) {
    max-height: 65vh;
  }

  @include mappy-bp(small medium) {
    max-height: 60vh;
  }

  h2 {
    margin-left: 0.5em;
  }

  p {
    margin-left: 0.5em;
  }
}

@supports (-ms-ime-align:auto) {
  .l-lang__zh {
    writing-mode: horizontal-tb;

    @include mappy-bp(max large) {
      width: 100%;
    }

    .ms-wrapper {
      writing-mode: vertical-rl;
      max-height: 60vh;
    }
  }
}

@supports not (writing-mode: vertical-rl) {
  .l-lang__zh {
    margin-left: initial;
  }
}

.l-post__bottom {
  position: relative;
  height: 3em;
  margin-top: 1em;

  @include mappy-bp(h max 700px) {
    height: auto;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-post {
    padding-top: 1em;
  }

  .l-lang__zh {
    writing-mode: horizontal-tb;
    margin-top: 1em;

    @include mappy-bp(max large) {
      width: 100%;
    }

    .ms-wrapper {
      writing-mode: vertical-rl;
      max-height: 60vh;
    }
  }

  .l-post__bottom {
    height: auto;
  }
}

.l-audio {
  @include mappy-bp(max medium) {
    margin-bottom: 0.5em;
  }
}

.l-prev,
.l-next {
  @include mappy-bp(h max 700px) {
   padding-bottom: 0.5em;
  }

  @include mappy-bp(medium) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.l-prev {
  @include mappy-bp(medium) {
    left: 1em;
  }
}

.l-next {
  @include mappy-bp(medium) {
    right: 1em;
  }
}

.l-home-link {
  position: fixed;
  top: 0.5em;

  img {
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: middle;
  }
}
// ==========
// COMPONENTS - Designed components, chunks of UI
// ==========
@import 'component-langswitch';
@import 'component-contact';
@import 'component-footer';

.c-post {
  background: linear-gradient(135deg, transparent 22px, rgba(color(accent), 0.3) 22px, rgba(color(accent), 0.3) 24px, transparent 24px, transparent 67px, rgba(color(accent), 0.3) 67px, rgba(color(accent), 0.3) 69px, transparent 69px), linear-gradient(225deg, transparent 22px, rgba(color(accent), 0.3) 22px, rgba(color(accent), 0.3) 24px, transparent 24px, transparent 67px, rgba(color(accent), 0.3) 67px, rgba(color(accent), 0.3) 69px, transparent 69px)0 64px;
  background-color: rgba(color(accent), 0.2);
  background-size: 64px 128px;
}
// ==========
// TRUMPS - Helpers and overrides
// ==========
@import 'trumps';
// ==========
// SHAME - For ad-hoc debugging or testing. Should be empty by default.
// ==========
@import 'shame';
